@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>Título: @ViewData["Message"]</p>
<p>E-mail: @ViewData["Email"]</p>

